<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Demo</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="message-toaster" v-if="showMessage">
            {{ message }}
        </div>
        <div class="container">
            <nav class="navigation">
                <ul>
                    <li v-for="(items, tableName) in eventList" :key="tableName">
                        <a href="javascript:void(0)" @click="scrollToSection(tableName)">{{ tableName }}</a>
                    </li>
                </ul>
            </nav>

            <main class="content">
                <div v-for="(items, tableName) in eventList" :key="tableName">
                    <h2 :id="tableName">{{ tableName }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>地址</th>
                                <th>传递参数</th>
                                <th>dataResult.data类型</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in items" :key="index">
                                <td @dblclick="copy(item.address)" style="color: rgb(21, 183, 56);">{{
                                    item.address }}</td>
                                <td @dblclick="copy(item.params)" style="color: rgb(32, 207, 207);">{{
                                    item.params }}</td>
                                <td @dblclick="copy(item.dataResultType)" style="color: rgb(23, 151, 219);">
                                    {{ item.dataResultType }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script>
        // 正确的 Vue 实例化方式
        new Vue({
            el: "#app",
            data() {
                return {

                    currentSection: '',
                    message: "",
                    showMessage: false,

                    eventList: {},
                };
            },
            methods: {
                scrollToSection(sectionId) {
                    const element = document.getElementById(sectionId);
                    if (element) {
                        element.scrollIntoView({ behavior: 'smooth' });
                    }
                },

                async copy(address) {
                    try {
                        console.log(address)
                        await navigator.clipboard.writeText(address);
                        this.showToast("已将" + address + "复制到剪切板。");
                    } catch (err) {
                        console.error('Failed to copy text: ', err);
                    }
                },
                showToast(message) {
                    this.message = message;
                    this.showMessage = true;
                    setTimeout(() => {
                        this.showMessage = false;
                    }, 5000); // 2秒后隐藏消息框
                },
                getEventList() {
                    axios.get('data.json').then(resp => {
                        this.eventList = resp.data;
                    })
                },
            },

            mounted() {
                this.getEventList();
            },

        });

    </script>

</body>

</html>